body{
display:flex;
flex-direction:column;
min-height:100vh;
}
main{
display: flex;
flex-grow:1;
flex-shrink:1;
flex-basis:auto;
background-color:lightgrey;
}
header, footer{
text-align:center;
}
aside{
width:50em;
padding:10px;
}
nav{
padding:10px;
}
article{
font-size:5vh;
padding:10px;
}
nav ul{
list-style:none;
margin:0;
padding:0;}
nav a{
text-decoration:none;
color:black;}
img{
float:right;
max-width:100%
height:auto;
}
@media(max-width:640px){
main{flex-direction:column;
}
aside, nav{
width:auto;}
nav{
order:-1;
}}